*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;

    background: linear-gradient(
        135deg,
        #020617,
        #0f172a,
        #1e293b
    );

    min-height: 100vh;
}

header{
    position: fixed;

    top: 0;

    width: 100%;

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 25px 60px;

    background: rgba(15, 23, 42, 0.7);

    border-bottom: 1px solid rgba(255,255,255,0.08);
}

.logo{
    color: #f1f5f9;

    font-size: 42px;

    font-weight: bold;
}

nav a{
    color: #e2e8f0;

    text-decoration: none;

    margin-left: 30px;

    font-size: 18px;
}

.hero{
    min-height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

    gap: 100px;

    padding: 120px 80px;
}

.hero-image img{
    width: 320px;

    height: 320px;

    object-fit: cover;

    border-radius: 50%;

    border: 5px solid rgba(255,255,255,0.2);

    box-shadow: 0 0 30px rgba(255,255,255,0.1);
}